*.qms
*.obj
*.o
*.d
*.lib
*.a
*.bin
*.elf
*.err
*.hex
*.exe
*.EXE
*.map
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.pdb
*.ncb
*.suo
*.sdf
*.chw
*.sfr
*.ewt
*.user
*.avrsuo
*.Debug
*.Release
*.bak
version-*
JLink*.*

include/qs.hpp
include/qs_pkg.hpp
src/qs/qs.cpp
src/qs/qs_64bit.cpp
src/qs/qs_fp.cpp
src/qs/qs_rx.cpp
src/qs/qutest.cpp

priv/
html/
latex/
dbg/
rel/
spy/
build*/
settings/
.settings/
targetConfigs/

Debug/
Release/
Spy/
QSpy/

lib/
obj/
output/
